.config
.gitconfig
.idlerc
.ssh
.vscode
3D Objects
AppData
Contacts
Downloads
Favorites
IntelGraphicsProfiles
Links
MicrosoftEdgeBackups
Music
NTUSER.DAT
NTUSER.DAT{fd9a35db-49fe-11e9-aa2c-248a07783950}.TM.blf
NTUSER.DAT{fd9a35db-49fe-11e9-aa2c-248a07783950}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{fd9a35db-49fe-11e9-aa2c-248a07783950}.TMContainer00000000000000000002.regtrans-ms
OneDrive
Saved Games
Searches
Videos
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
.Rproj.user
test.txt
